<div class="header">
    <h1>Table</h1><div class="app-meta">
        Active Users: <span class="active-users-count">-</span>
    </div>
</div>
<div class="content"></div>
<div class="footer"></div>