<h2>Profile: {{profile.username}}</h2>
<a href="#logout">Log Out</a>

<h3>Games</h3>
<ol class="games">
</ol>

<form name="create_game_form">
    Create Game with:
    <ol>
        <li><input type="text" name="player1" /></li>
    </ol>
    <a href="#" class="add-player" style="display: none;">Add Player</a>
    <button type="submit" class="btn">Create</button>
</form>