<div class="table">
    <form name="register_form">
        Username: <input name="username" />
        First Name: <input name="first_name" />
        <input type="submit" value="Register" />
    </form>
</div>